<md-card flex-gt-sm="90" flex-gt-md="80">
    <md-card-content>
        <md-toolbar class="md-whiteframe-z1">
            <h1 class="md-toolbar-tools">Новини по тегу: {{ tag.title }}</h1>
        </md-toolbar>
        <md-list>
            <md-list-item ng-repeat="article in tag.articles">
                <md-item-content>
                    <div class="md-tile-content">
                        <h3 ng-click="go(article.id)" class="link">
                            {{ article.title }}
                        </h3>
                        <p>
                            {{ article.short_description }}
                        </p>
                        <md-chips ng-model="article.tags" readonly="true">
                            <md-chip-template ng-click="go('tag', $chip.id)">{{ $chip.title }}</md-chip-template>
                        </md-chips>
                    </div>
                </md-item-content>

                <md-divider md-inset hide-sm></md-divider>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>