<md-whiteframe class="md-whiteframe-1dp"
               layout="column" layout-align="center center"
               layout-margin layout-padding
               ng-repeat="members in members"
               ng-style="{ 'background': members.color }"
               ng-click="go('members', members.id)">
  <div class="md-list-item-text" layout="column">
    <div>
      <h3 ng-click="go('member', member.id)" class="link">{{ member.full_name }}</h3>
    </div>
    <div>
      <h4>Комманда: {{ member.command.title }}</h4>
    </div>
    <div>
      <p>{{ member.short_description }}</p>
    </div>
  </div>
</md-whiteframe>

<div class="float-btn">
  <md-button class="md-fab" aria-label="" ng-click="showModal($event)" layout-fill>
    <md-tooltip>Створити</md-tooltip>
    <ng-md-icon icon="add"></ng-md-icon>
  </md-button>
</div>
