<div layout="column" layout-align="center center"
     layout-fill>
  <md-whiteframe class="md-whiteframe-4dp"
                 layout="row" layout-align="center center"
                 layout-fill
                 hide hide-sm show-gt-sm show-md show-gt-md show-lg show-gt-lg>
    <div ng-repeat="item in menu.menu"
         layout-margin layout-padding>
      <a href="" ui-sref="{{ item.url }}">{{ item.name }}</a>
    </div>
  </md-whiteframe>
  <md-whiteframe class="md-whiteframe-1dp"
                 layout="row" layout-align="center center"
                 layout-fill
                 show-sm hide-gt-sm hide-md hide-gt-md hide-lg hide-gt-lg>
    <md-button aria-label="" layout-fill ng-click="menu.openMobileMenu($event)">
      <md-icon md-svg-src="/assets/images/ic_menu_black_24px.svg" aria-label="android "></md-icon>
    </md-button>
  </md-whiteframe>
</div>
