md-content.md-default-theme {
  background-color: #eee;
}

md-card {
  background-color: #fff;
}

md-card h2:first-of-type {
  margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
  border-radius: 99%;
}

h2 {
  font-weight: 400;
}

.md-toolbar-tools-bottom {
  font-size: small;
}

.md-toolbar-tools-bottom :last-child {
  opacity: 0.8;
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

md-sidenav {
  fill: #737373;
}

md-sidenav ng-md-icon {
  position: relative;
  top: 5px;
}

.user-avatar {
  border-radius: 99%;
}

md-sidenav md-list md-list-item a {
  color: #000000;
  text-decoration: none;
}

.float-btn {
  height: 56px;
  width: 56px;
  position: fixed;
  bottom: 55px;
  right: 55px;
}

h3.link, span.link {
  cursor: pointer;
}

div.left {
  float: left;
}

div.right {
  float: right;
  margin-left: 10px;
}

div.text-command {
  margin-left: 60px;
}

div.text-member {
  margin-left: 100px;
}

img.image {
  width: 80px;
}

.clearfix {
  clear: both;
}

md-content.command, md-content.member {
  margin-top: 10px;
}
.content-container {
  max-width: 950px;
  margin-top: 10px;
}