<md-whiteframe class="md-whiteframe-1dp news-in-atricles"
               layout="column" layout-align="center center"
               layout-margin layout-padding
               ng-style="{ 'background': article.color }">
  <div>
    <h1>{{ article.title }}</h1>
  </div>
  <div layout-fill>
    <p>{{ article.description }}</p>
  </div>
  <div>
    <md-chips ng-model="article.tags" readonly="true">
      <md-chip-template ng-click="go('tag', $chip.id)">{{ $chip.title }}</md-chip-template>
    </md-chips>
  </div>
</md-whiteframe>
