<md-whiteframe class="md-whiteframe-1dp"
               layout="column" layout-align="center center"
               layout-margin layout-padding
               ng-repeat="article in articles"
               ng-style="{ 'background': article.color }">
  <div>
    <h3 ng-click="go('article', article.id)" class="link">
      {{ article.title }}
    </h3>
  </div>
  <div layout-fill>
    <p>
      {{ article.short_description }}
    </p>
  </div>
  <div>
    <md-chips ng-model="article.tags" readonly="true">
      <md-chip-template ng-click="go('tag', $chip.id)">{{ $chip.title }}</md-chip-template>
    </md-chips>
  </div>
</md-whiteframe>

<div class="float-btn">
  <md-button class="md-fab" aria-label="" ng-click="showModal($event)" layout-fill>
    <md-tooltip>
      Сворити
    </md-tooltip>
    <ng-md-icon icon="add"></ng-md-icon>
  </md-button>
</div>
