<md-dialog aria-label="Новина" flex="80">

  <md-content layout-padding>
    <form name="userForm" layout="column">

      <md-input-container class="md-block">
        <label>Назва статі</label>
        <input type="text" ng-model="article.title">
      </md-input-container>
      <div>
        <md-input-container>
          <label>Короткий опис</label>
          <textarea ng-model="article.short_description"></textarea>
        </md-input-container>
      </div>
      <div>
        <md-input-container>
          <label>Опис</label>
          <textarea ng-model="article.description"></textarea>
        </md-input-container>
      </div>
      <div>
        <md-input-container>
          <label>Теги</label>
          <md-chips ng-model="article.tags"></md-chips>
        </md-input-container>
      </div>
    </form>
    <div class="md-actions" layout="row"><span flex></span>
      <md-button ng-click="cancel()"> Cancel</md-button>
      <md-button ng-click="answer(article)" class="md-primary">Save</md-button>
    </div>
  </md-content>
</md-dialog>
