<md-whiteframe class="md-whiteframe-1dp"
               layout="column" layout-align="center center"
               layout-margin layout-padding
               ng-repeat="command in commands"
               ng-style="{ 'background': command.color }"
               ng-click="go('command', command.id)">
  <div>
    <h3 ng-click="go('command', command.id)" class="link">
      {{ article.title }}
    </h3>
  </div>
  <div>
    <img ng-src="{{ command.logo }}" class="md-avatar" ng-click="go('command', command.id)"/>
  </div>
  <div class="md-list-item-text" layout="column">
    <h3 ng-click="go('command', command.id)" class="link">{{ command.title }}</h3>
    <p>
      {{ command.short_description }}
    </p>
  </div>
</md-whiteframe>

<div class="float-btn">
  <md-button class="md-fab" aria-label="Добавить" ng-click="showModal($event)" layout-fill>
    <md-tooltip>
      Добавить
    </md-tooltip>
    <ng-md-icon icon="add"></ng-md-icon>
  </md-button>
</div>
