<md-whiteframe class="md-whiteframe-1dp"
               layout="column" layout-align="center center"
               layout-margin layout-padding
               ng-style="{ 'background': command.color }">
  <div>
    <h1 class="md-toolbar-tools">Команда: {{ command.title }}</h1>
  </div>
  <div class="left">
    <img ng-src="{{ command.logo }}" class="left"/>
  </div>
  <div layout-fill>
    <md-content class="command">
      <md-list>
        <md-subheader class="md-no-sticky">Учасники</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="member in command.members"
                      ng-style="{ 'background': command.colorList }">
          <img ng-src="{{member.photo}}" class="md-avatar" alt="{{member.full_name}}"/>

          <div class="md-list-item-text" layout="column">
            <h3 ng-click="go('member', member.id)" class="link">{{ member.full_name }}</h3>
            <h4>Роль: {{ member.role }}</h4>

            <p>{{ member.short_description }}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
</md-whiteframe>