<md-card flex-gt-sm="90" flex-gt-md="80">
    <md-card-content>
        <md-card-header>
            <md-card-avatar>
                <img ng-src="{{ command.logo }}" class="md-user-avatar image" />
            </md-card-avatar>
            <md-card-title-media>
                <md-card-header-text>
                    <span class="md-title">Команда: {{ command.title }}</span>
                </md-card-header-text>
            </md-card-title-media>
        </md-card-header>

        <p>
            {{ command.description }}
        </p>

        <md-list>
            <md-subheader class="md-no-sticky">Учасники</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="member in command.members">
                <img ng-src="{{member.photo}}" class="md-avatar" alt="{{member.full_name}}" />
                <div class="md-list-item-text" layout="column">
                    <h3 ng-click="go('member', member.id)" class="link">{{ member.full_name }}</h3>
                    <h4>Роль: {{ member.role }}</h4>
                    <p>{{ member.short_description }}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>

</md-card>